.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#00c9ff, #92fe9d);
}
.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding: 1em;
}

.filterData {
  min-width: 150px;
  text-align: center;
  text-transform: uppercase;
}

.filterGoLeft,
.filterGoRight {
  cursor: pointer;
}

.swiperMainContainer {
  flex: 1;
}

.swiper-container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  max-width: 300px;
  height: calc(100% - 50px);
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
  background-color: #191828;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.swiper-slide div {
  width: inherit;
  height: inherit;
}

.imgCardHolder img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}
